@import 'bulma/sass/utilities/initial-variables';

// Loader
$primary: hsl(222, 92%, 56%);
$loader-color: $turquoise;
$white: #ffffff;
$lightblue: #2666f6;
$lightblue2: #5a9cff;
$blue: #edf8ff;
$darkblue: #00344a;
$blue: #3f96bf;
$darkblue: #3f95c1;
$lightgrey: #f3f3f3;
$grey: #ececec;

$grey-title: #a8a8a8;
$primary-medium: hsl(222, 82%, 55%);

// Secondary colors
$white-bis: #f0f4f7;
$lightgray: #e1e9ee;
$gray: #cfdae2;
$darkgray: #999999;
$bluegray: #9db3c4;

$box-shadow-normal: 1px 1px 1px 1px rgba(0, 0, 0, 0.25);
