@import '../../style/main.scss';

[data-component='InitialLoading'] {
  width: 100vw;
  height: 100vh;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
   .content {
    display: block;

    #logo {
      margin: 0 auto 47px;
    }

    h1 {
      color: $lightblue;
      font-weight: $weight-normal;
    }
  }
}
